.logo-react {
    fill: #61DAFB;
    height: 80px;
    width: 80px;
}

.nav-wrapper {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}

.nav-content {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 auto;
}

.nav-content ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;

}

.nav-content li {
    margin: 0 1.5rem;

}

.menu-item {
    text-decoration: none;
    font: 0.9rem;
    font-weight: 500;
    color: #fff;
    position: relative;
    cursor: pointer;
}


.menu-item::before{
    content: " ";
    width: 2rem;
    height: 2rem;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    border-radius: -0.6rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}